.container {
  display: flex;
  flex-direction: column;
  min-width: $mobileContentSize;
  max-width: $desktopContentSize + $standardPaddingHorizon * 2;
  width: 100%;
  margin: 0 auto;
  padding: $standardDesktopPadding;
  z-index: 1;
  transition: 1s;

  &__header {
    justify-content: space-between;
    height: 100vh;
    max-height: 1250px;
    position: relative;

    @media screen and (max-width: $tabletSize) {
      height: 100%;
      padding: 30px 34px;
    }
  }

  @media screen and (min-width: $bigDesktopSize) {
    max-width: $desktopContentSize;
  }

  @media screen and (min-width: $bigDesktopSize) {
    max-width: $bigContentSize;
    //padding: $bigDesktopPadding;
  }
}
