html,
body {
  margin: 0;
  font-family: Mark, sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
}
