.contact {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__section {
    background: #05040b;
  }

  &__info {
    width: 30%;
    @media screen and (max-width: $smallTabletSize) {
      display: none;
    }
  }

  &__notification {
    @include descriptionText(color, $mainGrayColor);
    margin-bottom: 52px;
    &-mobile {
      display: none;
    }
    @media screen and (max-width: $smallTabletSize) {
      &-mobile {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  &__caption {
    text-align: left;
    margin-top: 0;
    &-mobile {
      display: none;
    }
    @media screen and (max-width: $smallTabletSize) {
      &-mobile {
        display: block;
      }
    }
  }

  &__form {
    @media screen and (max-width: $smallTabletSize) {
      margin-top: 30px;
    }

    &-container {
      width: 50%;

      @media screen and (max-width: $smallTabletSize) {
        width: 100%;
      }
    }

    width: 100%;
    height: 418px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding-bottom: 19px;
    font-size: 14px;
    line-height: 150%;
    color: $mainGrayColor;
    background: none;
    border: 0.1px;
    border-bottom: 1px solid #2f2f2f;
    transition: 2s;

    &::placeholder {
      font-family: Mark-Regular, sans-serif;
      font-size: 14px;
      line-height: 150%;
    }

    &:hover {
      background: linear-gradient(180deg, #05040b, #05040b,
      #05040b, #05040b, #2f2f2f);
    }
  }

  &__message {
    width: 100%;
    height: 112px;
    resize: inherit;
    font-size: 14px;
    line-height: 150%;
    color: $mainGrayColor;
    background: none;
    border: none;
    border-bottom: 1px solid #2f2f2f;

    &::placeholder {
      font-family: Mark-Regular, sans-serif;
      font-size: 14px;
      line-height: 150%;
    }

    &:hover {
      background: linear-gradient(180deg, #05040b, #05040b,
      #05040b, #05040b, #2f2f2f);
    }
  }

  &__submit {
    @include mainBtnStyle;
    @include standardWhiteText;
    margin-top: 90px;
    @media screen and (max-width: $smallTabletSize) {
      width: 100%;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: $smallTabletSize) {
    flex-direction: column;
  }
}

.connection-way {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  color: $mainGrayColor;

  &__item {
    width: max-content;
    transition: 0.3s;
    &:hover {
      color: #fff;
    }
  }
}

.toTop {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 1px solid $mainBlueColor;
  border-radius: 50%;
  transition: 0.3s;

  &::before {
    content: "";
    position: absolute;
    background: $mainBlueColor;
    top: 55%;
    left: 45%;
    transform-origin: left;
    transform: translate(-50%) rotate(-40deg);
    width: 10px;
    height: 1px;
    transition: 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    background: $mainBlueColor;
    top: 55%;
    left: 55%;
    transform-origin: right;
    transform: translate(-50%) rotate(40deg);
    width: 10px;
    height: 1px;
    transition: 0.3s;
  }

  &:hover {
    border-color: #fff;

    &::before,
    &::after {
      background: #fff;
      animation: jumper infinite alternate 0.9s;
    }
  }

  &__link {
    display: contents;
  }

  @media screen and (max-width: $smallTabletSize) {
    display: none;
  }
}
