@media screen and (max-width: $tabletSize) {
  .header {
    .menu__burger {
      display: flex;
      cursor: pointer;
    }

    &__top {
      margin-bottom: 50px;
    }

    .label__language {
      display: none;
    }

    .nav {
      position: absolute;
      background: #191536;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding: 60px 0;
      transition: 0.3s;
      z-index: 4;

      &__list {
        flex-direction: column;
      }

      &__item {
        height: 49px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        &-mobile {
          display: flex;
        }

        &-btn {
          display: none;
        }

        &:hover {
          transform: none;
        }
      }

      &__link {
        padding: 11px 60px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        &:hover {
          background: #110e25;
          color: $mainBlueColor;
          transform: none;
        }
      }
    }

    &__bottom {
      display: none;
    }
  }
}

.menu {
  &__toggle {
    display: none;
  }

  &__burger {
    width: 24px;
    height: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    & span {
      width: 16px;
      height: 1px;
      background: #fff;
      transition: 0.3s;
      transform-origin: left;
    }

    & span:nth-last-child(2) {
      width: 12px;
      transform: translateX(-75%);
    }
  }
}

#menu_toggle:checked ~ {
  & .menu__burger {
    z-index: 5;
    & span:nth-last-child(1) {
      transform: rotate(-45deg);
    }
    & span:nth-last-child(2) {
      opacity: 0;
      transform: translateX(10px);
    }
    & span:nth-last-child(3) {
      transform: translateY(-1px) rotate(45deg);
    }
  }

  & .nav {
    left: 0;
  }
}
